.about-header {
  background-color: #282c34;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: 20px;
  color: white;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  line-height: 24px;
}

.about-heading1 {
  font-size: 20px;
  line-height: 28px;
  margin-top: 0px;
  margin-bottom: -10px;
}
.about-heading2 {
  font-size: 18px;
  line-height: 24px;
}
.about-body {
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
}

.about-exp {
  font-size: 14px;
  line-height: 14px;
  color: #FFF;
  font-style: italic;
  padding-left: 30px;
  margin-bottom: 0px;
}

.exampleScreenShot {
  max-width: calc(100vw - 40px);
  max-height: 500px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* object-fit: contain; */
  /* width:40; */
  /* aspect-ratio: preserve; */
}

.good1 {
  height:62px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* width:40; */
  /* aspect-ratio: preserve; */
}
.bad1 {
  height:62px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* width:40; */
  /* aspect-ratio: preserve; */
}
.bad2 {
  height:62px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* width:40; */
  /* aspect-ratio: preserve; */
}