/* .filterTypeSvgContainerAbs {
  height: 14px;
  border: 1.5px solid white;
  border-radius: 10px;
  background-color: #000000aa;
  position:absolute;
  left: 4px;
  bottom: 38px;
  z-index: 4001;
  padding: 6px;
  display: flex;
  align-items: center;
  align-content: center;
} */

.filterTypeSvgContainer {
  height: 14px;
  /* width: 20px; */
  border: 1.5px solid rgb(54, 54, 54);
  border-radius: 10px;
  background-color: var(--bg-controls);
  z-index: 4;
  padding: 10px;
  display: flex;
  align-items: center;
  align-content: center;
}

.filterTypeSvgContainer:active {
  opacity: 0.8; 
}



.filterTypeEq {
  margin-right: 4px;
  margin-left: 4px;
  font-size: small;
}

.filterTypeDot {
  /* display: inline-block; */
  font-size: small;
  color: #ddddddff;
  background-image: radial-gradient(#66ffffaa, #77ffff00 200%);
  box-shadow: 0px 0px 8px 2px rgb(0 255 255 / 0.8);
  border-radius: 10px;
  height: 14px;
  width: 14px;
  z-index: 200000;
}

.refleafMinMaxSvg {
  color:var(--text-main-color-subdue-4);
  width: 32px;
  height: 32px;
  position:absolute;
  right: 12px;
  bottom:30px;
  /* bottom:120px; */
  z-index: 4001;
}