.home2App {
  text-align: center;
}

.home2App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  margin: 0;
  padding: 0;
  margin-inline-start: 0 !important; 
  margin-inline-end: 0 !important; 
  margin-block-end: 0 !important;
  margin-block-start: 0 !important;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.home2App-header {
  background-color: var(--bg-main);
  min-height: calc(100dvh - 25px);
  /* height: calc(100vh - 25px); */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; */
  font-size: calc(10px + 2vmin);
  color: var(--text-main-color);
}

.home2App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home2overallDiv {
  width: vw;
  overflow: hidden;
  height: calc(100dvh - 28px);
  overscroll-behavior-y: none;

  /* height: calc(100vh); */
  /* over flow: hidden; */
}

.home2fullFooter {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100dvh;
  /* z-index: 210; */
  z-index: 100000;
  display: flex;
  flex-direction: column;
}

.home2footerOutside {
  backdrop-filter: brightness(40%);
  height:200;
  width:100vw;
  flex-grow:1;
}

.home2footerContent {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  z-index: 210;
}

/* .home2bottomOffsetDiv {
  height:64px;
} */


.home2footerButtonContainer {
  position: fixed;
  bottom: 15px;
  right: 25px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  /* width: 100%; */
}

.home2noDataContainer {
  position: fixed;
  bottom: 100px;
  /* right: 25px; */
  width: calc(100% - 100px);
  left:50px;
  /* height: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  /* width: 100%; */
}

.home2noDataHolder {
  align-self: center;
  justify-self: center;
  margin-right: 10px;
  margin-left: 10px;
}

.home2rowPreviewHolder {
  margin-left: -18px;
  margin-right: -18px;
}

.home2bracketName {
  font-weight: bold;
}

.home2bigLinkHolder {
  display: flex;
  /* flex-wrap: wrap; */
  text-decoration: none;
  width: vw;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}
.home2bigLink {
  font-size:x-small;
  text-wrap: wrap;
  word-break: break-all;
  display: flex;
  flex-wrap: wrap;
  max-lines: 30;
  max-width: 300px;
  color: var(--text-main-color);
  padding-top: 4px;
  padding-bottom: 4px;
}
.home2bigLinkLabel {
  color: var(--text-main-color);
  font-size:small;
  text-wrap: wrap;
  text-decoration: none;
  max-lines: 1;
  background-color: #181c24;
  border-radius: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
}

.home2searchAndFilters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x:hidden;
  align-self: center;
}

.home2linkRowHolder {
  max-width: 100vw;
}

.home2linkRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100vw;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.home2toggleLiveVodHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 2px;
}

.home2toggleLiveVod {
  font-weight:bold;
  font-size: large;
  color: var(--text-main-color);
  opacity: 0.7;
  padding: 12px;
}

.home2toggleLiveVodCurrent {
  font-size: large;
  font-weight:bold;
  color: var(--text-main-color);
  padding:12px;
}

.home2toggleLiveVod:active {
  color: var(--text-main-color);
  /* color: lightgray; */
  transform: scale(1.09);
}

.home2toggleLiveVod:hover {
  color: var(--text-color-hover);
  transform: scale(1.09);
}


.home2filterButtonHolder {
  align-self: flex-end;
  justify-self: flex-end;
  margin-right: 10px;
}

.home2app-inform {
  font-size:medium;
  line-height:1.2;
  height: vh;
}

.home2app-inform-overMap {
  color: #000000ff;
}

#map {
  width: 600px;
  height: 400px;
}

.home2stickyContainer {
  position: sticky;
  background: var(--bg-main);
  z-index: 20;
}
/* 
body {
  overscroll-behavior-y: contain;
} */

.home2flexMapVid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* position: sticky;
  top: 0; */
}

.home2threePanes {
  display: flex;
  flex-direction: row;
  /* height:1000px; */
  height: calc(100dvh - 28px);
  width:100vw;
  /* overflow-y: hidden; */
}

.home2rightPane {
  flex: 1;
  flex-direction: column;
  /* padding: 1rem; */
  overflow-y: auto;
  max-width:340px;
}

.home2centerPane {
  flex: 1;
  /* padding: 1rem; */
  overflow-y: auto;
  /* width:300px; */
  /* display: flex;
  flex-direction: row;
  height:100%; */
}
.home2previewContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 100%;
  max-height: max(calc(100% - 212px), 200px);
  /* height:600px; */
  aspect-ratio: 16 / 9;
  display: flex;
  align-self: center;
  /* justify-self: center; */
  margin-bottom: 4px;
  transition: max-width 0.2s;
  /* justify-content: stretch;
  align-content: stretch;
  align-items: stretch; */
  
}

.home2landscapePane {
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  /* overflow-y: auto;
  overflow-x: visible; */
  /* max-width:120px; */
  max-width:300px;
  /* transform: scale(0.8); */
  /* transform-origin: top left */
}

.home2landscapePaneInner {
  flex: 1;
  flex-direction: column;
  height: 113.4%;
  /* padding: 1rem; */
  overflow-y: auto;
  /* max-width:120px; */
  width:340px;
  /* transform: scale(0.882); */
  transform: scale(0.882);
  transform-origin: top left
}

.home2rawStyle {
  font-size: small
}

.home2Bracket{
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.7); 
  transform-origin: 0 0;
  
  /* filter: brightness(90%) invert(100%) hue-rotate(180deg); */
  /* transform: scale(0.33333); */
}
.home2BracketFilter{
  filter: brightness(90%) invert(100%) hue-rotate(180deg);
}

.home2BracketContainerAbs{
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 30000;
  overflow-y:hidden;
}

.home2BracketContainer{
  position: relative;
  /* display:block; */
  /* flex-direction: column; */ 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home2SubEmbeds {
  position: relative;
  display: flex;
  /* height: 240px; */
  flex-direction: column; /* This helps define the height based on content */
  /* background-color: #61dafb; */
}
.home2SubEmbedChatContainer {
  position: absolute;
  top:0;
  display: contents;
  height:fit-content;
  width: fit-content;
}
.home2SubEmbedContainer {
  position: absolute;
  top:0;
  display: contents;
  height:fit-content;
  width: fit-content;
}
.home2SubEmbedControlsContainer {
  position: absolute;
  height:fit-content;
  width: fit-content;
  right: 0px;
  top: 0px;
  background-color: var(--bg-controls);
  /* padding-left: 4px;
  padding-right: 4px; */
  /* border: 1px solid black; */
  z-index: 20050;
}

.home2RouteRow {
  margin-left: 8px !important;
  margin-right: 4px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  height: 32px !important;
  /* height: 32px; */
  display: flex;
  flex-direction: row;
  width:fit-content;
  /* overflow-x:hidden; */
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  justify-items: flex-start;
}
.home2RouteTitle {
  margin-left: 6px;
  /* width:fit-content; */
  font-size: medium;
  font-weight: 500;
  overflow-x:scroll;
  max-lines: 1;
  text-align: start;
  text-decoration: none;
  color: var(--text-main-color);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;    /* IE 10 and IE 11 */
  user-select: none;        /* Standard syntax */
}
.home2RouteTitleCat:hover{
  transform: scale(1.03)
}
.home2RouteGameSelectTitle {
  margin-left: 6px;
  /* width:fit-content; */
  font-size: medium;
  font-weight: 500;
  overflow-x:scroll;
  max-lines: 1;
  color: var(--text-main-color)
}

.home2RouteGameSelectIcon {
  height: 24px;
  width: 18px;
  display:flex;
  align-items: center;
  align-self: center;
  /* border-radius: 18px; */
  flex-grow: 0;
}
.home2RouteGameSelectContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  background: var(--bg-controls);
  padding-top:4px;
  padding-bottom:4px;
  padding-left:6px;
  padding-right:8px;
  margin-left: 6px;
  border-radius: 6px;
}
.home2RouteGameSelectContainer:hover{
  transform: scale(1.02);
}

.home2RouteCharIcon {
  height: 30px;
  width: 30px;
  border-radius: 4px;
  flex-grow: 0;
}

.home2RouteTourneyIcon {
  height: 30px;
  width: 30px;
  border-radius: 4px;
  flex-grow: 0;
}

.home2RouteChannelIcon {
  height: 30px;
  width: 30px;
  border-radius: 18px;
  flex-grow: 0;
}

.home2RouteSearchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  /* border-radius: 18px; */
  flex-grow: 0;
}

.home2RouteGameIcon {
  display: flex;
  height: 32px;
  width: 24px;
  align-self: center;
  /* border-radius: 18px; */
  flex-grow: 0;
}
.home2RouteGameIcon:hover{
  transform: scale(1.03);
}

.home2RouteHomeIcon {
  height: 28px;
  width: 28px;
  display: flex;
  /* align-content:; */
  /* margin-right: 6px; */
  align-self: center;
  /* border-radius: 18px; */
  flex-grow: 0;
}
.home2RouteHomeIcon:hover{
  transform: scale(1.07);
}

.home2RouteStarIcon {
  height: 24px;
  width: 24px;
  margin-left: 4px;
  display: flex;
  align-self: center;
  /* border-radius: 18px; */
  flex-grow: 0;
}

.home2DotStyle {
  font-size: 24px !important;
  font-weight: 400;
  color: var(--text-main-color-subdue-2);
  margin-left:4px;
  margin-right:4px;
}

.home2titleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home2LoadingSyle {
  background-color: var(--bg-main);
  margin-top: 20px;
}

.home2-charemoji {
  display:flex;
  height: 26px;
  width: 26px;
  margin-right: -6px;
}

.home2-charemojimatches {
  display:flex;
  height: 26px;
  width: 26px;
  /* margin-left: -6px; */
  margin-right: -6px;
  background-image: radial-gradient(#aaffff88, #aaffff00 200%);
  box-shadow: 0px 0px 30px 2px rgb(170 255 255 / 0.8);
}
.home2-schuemoji {
  display:flex;
  height: 26px;
  width: 26px;
  /* margin-left: -6px; */
  margin-right: -6px;
}

.home2-previewExpandHolder {
  position: absolute;
  right: -44px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width:40px;
  height: 40px;
  background: var(--bg-over-image-walpha);
 }
.home2-previewExpandLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  padding:0px;
  transform: rotate(90deg);
}
