:root {
  --bg-main: #0f0f0f;
  --bg-abs: #000;
  --bg-less: #111;
  --bg-modal: #181818;
  --bg-textinputbackground: #484848
  --bg-more: #111;
  --bg-over-image-walpha: #000000aa;
  --bg-20: #202020;
  --bg-hover: #282828;
  --bg-controls: #222222;
  --title-bar-background: #181b1b;
  --text-main-color: #fff;
  --text-main-color-shadow: #000;
  --text-color-hover: lightgray;
  --text-main-color-subdue-2: lightgray;
  --text-main-color-subdue-1: #eee;
  --text-main-color-subdue-3: #ddd;
  --text-main-color-subdue-4: #f9f9f9;
  --border-button: #cccccc;
  --arrow-color: #e1e1e1;
}

[data-theme='light'] {
  --bg-abs: white;
  --bg-hoverff: #f7f8f9;
  /* --bg-main: #f7f8f9; */
  --bg-main: #ffffff;
  --bg-less: #bbbbbb;
  --bg-modal: #f6f2f2;
  --bg-more: #eeeeee;
  --bg-over-image-walpha: #ffffffbb;
  --bg-20: #cccccc;
  --bg-hover: #b5b5b5;
  --bg-controls: #dcdfdf;
  /* --title-bar-background: #dddddd; */
  /* --title-bar-background: white; */
  --title-bar-background: #eaebec;
  --text-main-color: black;
  --text-main-color-shadow: #ffffffbb;
  --text-main-color-subdue-1: #181818;
  --text-main-color-subdue-2: #282828;
  --text-main-color-subdue-3: #444;
  --text-main-color-subdue-4: #070707;
  --text-color-hover: gray;
  --border-button: gray;
  --arrow-color: #eeeeee;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0
}
