.leafcharemoji {
  height: 24px;
  width: 24px;
}
.leafschuemoji {
  height: 24px;
  width: 24px;
}
.leafplayerName {
  font-weight: bold;
  font-size: smaller;
  color: #FFF;
}

.leafplayerName2 {
  font-weight: bold;
  font-size: smaller;
  color: #000;
}

.leafplayerNameMarker {
  font-weight: bolder;
  font-size: medium;
  color: #000;
}

.leafbracketInfo {
  font-weight: bold;
  font-size: smaller;
  color: #FFF;
}

.leafset-row-1 {
}

.leaflet-row-sub a {
  border-top: 2px solid lightsteelblue;
  color: red; /* Change default link color */
}

.leafset-row-sub {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}


.leafbracketLink {
  font-size:smaller;
  color: #FFF;
}

.leafpopup {
  margin: 0px;
  margin-left: 0px;
  border-radius: 0px;
}