
.expandChatHolder {
  position: absolute;
  height:28px;
  width: fit-content;
  right: 0px;
  top: 0px;
  background-color: var(--bg-controls);
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid black;
  /* display: flex;
  flex-direction: row; */
}

.expandChatText {
  font-size: small;
  color: var(--text-subdue-1);
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.embedContainer {
  overflow: hidden;
  position: relative;
  min-height: 30px;
  /* margin-top: -4px; */
}