
.rewindSetButton {
  width: 40px;
  height: 40px;
  justify-self: center;
  /* background-color: aqua; */
}

.rewindSetButton:active {
  transform: scale(1.15);
  /* opacity: 0.8; */
}

.rewindSetButton:hover {
  transform: scale(1.15);
  /* opacity: 0.8; */
}

.rewindSetRow {
  height: 40px;
  position: relative;
  justify-self:stretch;
  align-self: stretch;
  flex-grow: 1;
  z-index: 4;

  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-items: center;
  align-items:flex-start;
  align-content:flex-start;
}

.rewindStartHolder {
  position: absolute;
  left: 0px;
  width: calc(100% - 40px);
  height:40px;
  /* background-color: rgb(from var(--bg-main) r g b / 0.64); */
  background-color: #00000001
}
.progressBar {
  flex-grow: 1;
  justify-self:stretch;
}

.markContainer {
  color: #fff;
  line-height: 1.2;
  font-size: smaller;
  font-weight: bold;
  font-style: italic;
  word-break: break-all;
  text-decoration: none;
  margin-top: -36px;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  paint-order: stroke fill;

}
.markContainerFromMap {
  color: #444;
  line-height: 1.2;
  font-size: smaller;
  font-weight: bold;
  font-style: italic;
  word-break: break-all;
  text-decoration: none;
  margin-top: -38px;
}




.markText {

}


.rewindShortButton {
  width: 40px;
  height: 40px;
  justify-self: center;
  position: relative;
  margin-right: 4px;
}

.rewindShortButton:active {
  transform: scale(1.15);
}

@media (hover: hover) and (pointer: fine) {
  .rewindShortButton:hover {
    transform: scale(1.12);
  }
}


.rewindShortText {
  top: 18px;
  left: 6px;
  position: absolute;
  font-size: small;
  color: #bbbbbb;
}

.forwardShortText {
  top: 18px;
  right: 6px;
  position: absolute;
  font-size: small;
  color: #bbbbbb;
}

.rc-slider [data-slider-tooltip]::before,
.rc-slider [data-slider-tooltip]::after {
  position: absolute;
  top: -6px;
  left: 50%;
  display:none;
}
.rc-slider [data-slider-tooltip]::before {
  content: "";
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0,0,0,0.7) transparent transparent transparent;
}
.rc-slider [data-slider-tooltip]::after {
  content:attr(data-slider-tooltip);
  transform: translateX(-50%) translateY(-100%);
  background: rgba(0,0,0,0.7);
  text-transform:none;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px 4px;
}
.rc-slider:active [data-slider-tooltip]::before,
.rc-slider:active [data-slider-tooltip]::after,
.rc-slider-handle:hover [data-slider-tooltip]::before,
.rc-slider-handle:hover [data-slider-tooltip]::after {
  display:block;
}
